{% extends "template.html" %}

{% block title %}
    Связаться со мной
{% endblock %}

{% block content %}
    <div class="container">
        <h1 style="text-align: center">Связаться со мной</h1>
        <div class="container" style="margin-top: 50px">
            <p class="fs-5">
                Если вы хотите получать эксклюзивные материалы для подготовки к ЕГЭ по истории и обществознанию, то вы
                можете связаться со мной для покупки курсов через <a href="https://vk.com/id16343007">ВК</a>
            </p>
        </div>
    </div>
{% endblock %}