{% extends "template.html" %}

{% block title %}
    Главная
{% endblock %}

{% block content %}
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/img/rimma.png" class="d-block w-100" alt="Фото 1">
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 100px">
        <h3 style="text-align: center">Обо мне</h3>
        <p class="fs-5 text-center">Я — <strong>Римма Равилевна</strong>, кандидат исторических наук, доцент ЧФ КНИТУ-КАИ,
            а также учитель обществознания и истории, хочу вам помочь в подготовке к предстоящим экзаменам ОГЭ и ЕГЭ по
            этим двум предметам на <em>высокие баллы</em>.</p>
    </div>
    <div class="container" style="margin-top: 100px">
        <h3 style="text-align: center">Как проходят занятия</h3>
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Бесплатная основа</h5>
                        <p class="card-text">Даю задания, советы по решению КИМов, готовлю на проходной балл, материалы
                            поставляются онлайн каждому.</p>
                        {% if current_user.is_authenticated %}
                            <a class="btn btn-success disabled" aria-disabled="true">
                                Зарегистрироваться бесплатно
                            </a>
                        {% else %}
                            <a href="{{ url_for("register") }}" class="btn btn-success">
                                Зарегистрироваться бесплатно
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Платная основа</h5>
                        <p class="card-text">Вы с уверенностью сдадите экзамен на высокий балл.
                            Эксклюзивные материалы специально для вас. Занятия будут проходить онлайн и оффлайн.</p>
                        <a href="{{ url_for("contact") }}" class="btn btn-primary">Связаться для покупки курсов</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="margin-top: 100px">
            <h3 style="text-align: center">Хочешь готовиться вместе со мной?</h3>
            <p>
                Тогда я рада буду видеть тебя на платформе!
                {% if current_user.is_authenticated %}
                    Зарегистрируйся
                {% else %}
                    <a href="{{ url_for("register") }}">Зарегистрируйся</a>
                {% endif %}
                на сайте и уже сейчас получай бесплатные материалы, а если хочешь большего,
                <a href="{{ url_for("contact") }}">свяжись со мной</a> для покупки курсов.
            </p>
        </div>
    </div>
{% endblock %}
